.world-map {
	align-content: center;
	display: flex;
}

.map {
	border-radius: 2px;
	display: flex;
	margin: 0 auto;
}

.map-container {
	display: inline-block;
	margin: 0 auto;
	position: relative;
}

.color-legend {
	position: absolute;
	bottom: 20px;
	left: 20px;
	height: 40px;
	background-color: white;
	width: 100px;
}

.zoom-controls {
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 5px;
}

.zoom-control {
	margin: 5px;
}

.tooltip {
	max-width: 150px;
	padding: 0 0 20px;
}

.tooltip-answers {
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	border-bottom: 1px solid #eee;
	padding-bottom: 1px;
	margin-bottom: 2px;
}

.tooltip-item {
	padding: 2px;
}

// override react-tooltip default styles
.__react_component_tooltip {
	border: 1px solid #555;
	background-color: #333 !important;
	opacity: 1 !important;
	color: #fafafa !important;
}
