.MuiSelect-select-15 {
	padding: 10px !important;
}

.download-buttons {
	position: absolute;
	bottom: 5px;
	width: 100%;
	display: flex;
	justify-content: center;

	a {
		text-decoration: none;

	}
}
